input.start {
  background-color: rgba(0, 0, 0, 0);
  /*border-style: none;*/
  border: 2px;
  border-radius:7px;
  padding: 5px;
  color: white;
  font-size: 72;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input.start:focus {
  border-color: #333333;
  outline: none;
}

div#start > p {
  color: white;
  font-size: 36;
  font-family: "Arial", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-200px, -200px);
}
